In [1]:

import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import tensorflow as tf

D:\Anaconda\envs\demo\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_json("News_Category2.json", lines=True)
df

,category,headline,authors,link,short_description,date
0,ENVIRONMENT,Scrap Metal and Electric Cars: Test Your Green...,"Paul Schwennesen, Contributor\nHistorian",https://www.huffingtonpost.com/entry/scrap-met...,I get it that electric gizmos are sexier than ...,2012-09-02
1,BUSINESS,10 Jobs Disappearing From America: 24/7 Wall St.,"24/7 Wall St., 24/7 Wall St.",https://www.huffingtonpost.com/entry/jobs-disa...,There will be more severe declines within cert...,2012-09-02
2,BUSINESS,The Best Jobs In The United States,,https://www.huffingtonpost.com/entry/america-b...,"Are you a fan of your job? If not, you may wan...",2012-09-02
3,BUSINESS,There Once Was a Union-Made,"Peter Dreier, Contributor\nE.P. Clapp Distingu...",https://www.huffingtonpost.com/entry/there-onc...,"I walked in and meandered around the shop, loo...",2012-09-02
4,BUSINESS,Are Politicians Pointing to the Wrong Chinese ...,"James Love, Contributor\nDirector, Knowledge E...",https://www.huffingtonpost.com/entry/wrong-chi...,This dramatic change was discussed last week i...,2012-09-02
...,...,...,...,...,...,...
20182,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28
20183,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
20184,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
20185,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28
20186,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28

In [3]:
df['category'].value_counts()

WELLNESS          4539
STYLE & BEAUTY    3802
TRAVEL            2041
PARENTING         1932
MONEY             1016
WEDDINGS          1008
HOME & LIVING     1003
FOOD & DRINK       947
DIVORCE            848
BUSINESS           407
ENTERTAINMENT      349
COMEDY             346
ENVIRONMENT        314
QUEER VOICES       287
TECH               275
SCIENCE            221
BLACK VOICES       217
IMPACT             208
CULTURE & ARTS     200
CRIME              117
SPORTS             110
Name: category, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['category'])
i=0
d={}
for x in le.classes_:
    print('{}  {}'.format(x,i))
    d[x]=i
    i=i+1

BLACK VOICES  0
BUSINESS  1
COMEDY  2
CRIME  3
CULTURE & ARTS  4
DIVORCE  5
ENTERTAINMENT  6
ENVIRONMENT  7
FOOD & DRINK  8
HOME & LIVING  9
IMPACT  10
MONEY  11
PARENTING  12
QUEER VOICES  13
SCIENCE  14
SPORTS  15
STYLE & BEAUTY  16
TECH  17
TRAVEL  18
WEDDINGS  19
WELLNESS  20

In [5]:
df['encoded category']=le.transform(df['category'])
df['encoded category']=df['encoded category'].astype(int)
df

,category,headline,authors,link,short_description,date,encoded category
0,ENVIRONMENT,Scrap Metal and Electric Cars: Test Your Green...,"Paul Schwennesen, Contributor\nHistorian",https://www.huffingtonpost.com/entry/scrap-met...,I get it that electric gizmos are sexier than ...,2012-09-02,7
1,BUSINESS,10 Jobs Disappearing From America: 24/7 Wall St.,"24/7 Wall St., 24/7 Wall St.",https://www.huffingtonpost.com/entry/jobs-disa...,There will be more severe declines within cert...,2012-09-02,1
2,BUSINESS,The Best Jobs In The United States,,https://www.huffingtonpost.com/entry/america-b...,"Are you a fan of your job? If not, you may wan...",2012-09-02,1
3,BUSINESS,There Once Was a Union-Made,"Peter Dreier, Contributor\nE.P. Clapp Distingu...",https://www.huffingtonpost.com/entry/there-onc...,"I walked in and meandered around the shop, loo...",2012-09-02,1
4,BUSINESS,Are Politicians Pointing to the Wrong Chinese ...,"James Love, Contributor\nDirector, Knowledge E...",https://www.huffingtonpost.com/entry/wrong-chi...,This dramatic change was discussed last week i...,2012-09-02,1
...,...,...,...,...,...,...,...
20182,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28,17
20183,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28,15
20184,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28,15
20185,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28,15
20186,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28,15

In [6]:
from tensorflow.keras.utils import to_categorical
y=to_categorical(df['encoded category'])

In [74]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(df.headline.values, 
                                                  y, 
                                                  test_size=0.2, 
                                                  random_state=42, 
                                                  stratify=df['encoded category'].values)

In [79]:
y_test=np.argmax(y_val,axis=-1)
y_test

array([13, 19, 20, ..., 18,  4, 20], dtype=int64)

In [8]:
from transformers import BertTokenizer
tokenizer=BertTokenizer.from_pretrained('bert-base-cased')

In [103]:
x_train = tokenizer(
    text=x_train.tolist(),
    add_special_tokens=True,
    max_length=128,
    truncation=False,
    padding='max_length', 
    return_tensors='tf',
    return_token_type_ids = False,
    return_attention_mask = True,
    verbose = True)

In [104]:
x_train['input_ids'].shape

TensorShape([16149, 128])

In [105]:
x_test = tokenizer(
    text=x_val.tolist(),
    add_special_tokens=True,
    max_length=128,
    truncation=True,
    padding='max_length', 
    return_tensors='tf',
    return_token_type_ids = False,
    return_attention_mask = True,
    verbose = True)

In [12]:
import tensorflow as tf
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.initializers import TruncatedNormal
from tensorflow.keras.losses import CategoricalCrossentropy
from tensorflow.keras.metrics import CategoricalAccuracy
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Input, Dense

In [106]:
input_ids = x_train['input_ids']
attention_mask = x_train['attention_mask']

In [14]:
from transformers import TFBertModel
bert = TFBertModel.from_pretrained("bert-base-cased")

Some layers from the model checkpoint at bert-base-cased were not used when initializing TFBertModel: ['nsp___cls', 'mlm___cls']
- This IS expected if you are initializing TFBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertModel were initialized from the model checkpoint at bert-base-cased.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [15]:
max_len = 128
input_ids = Input(shape=(max_len,), dtype=tf.int32, name="input_ids")
input_mask = Input(shape=(max_len,), dtype=tf.int32, name="attention_mask")
embeddings = bert(input_ids,attention_mask = input_mask)[1] 
# out = tf.keras.layers.GlobalMaxPool1D()(embeddings)
# out = Dense(168, activation='relu')(out)
# out = tf.keras.layers.Dropout(0.1)(out)
# out = Dense(84,activation = 'relu')(out)
#y = Dense(42,activation = 'sigmoid')(out)
intermediate_layer = tf.keras.layers.Dense(256, activation='relu', name='intermediate_layer')(embeddings)
output_layer = tf.keras.layers.Dense(21, activation='softmax', name='output_layer')(intermediate_layer)

model = tf.keras.Model(inputs=[input_ids, input_mask], outputs=output_layer)
model.layers[2].trainable = True

In [16]:
# optim = tf.keras.optimizers.Adam(learning_rate=1e-5)
# #loss_func = tf.keras.losses.CategoricalCrossentropy()
# acc = tf.keras.metrics.CategoricalAccuracy('accuracy')
# optimizer = Adam(
#     learning_rate=5e-05, # this learning rate is for bert model , taken from huggingface website 
#     epsilon=1e-08,
#     clipnorm=1.0)
# # Set loss and metrics
# loss =CategoricalCrossentropy(from_logits = True)
# metric = CategoricalAccuracy('balanced_accuracy'),
# # Compile the model
# model.compile(
#     optimizer = optim,
#     loss = loss, 
#     metrics = [acc])

In [17]:
optim = tf.keras.optimizers.Adam(learning_rate=1e-5)
loss_func = tf.keras.losses.CategoricalCrossentropy()
acc = tf.keras.metrics.CategoricalAccuracy('accuracy')
model.compile(optimizer=optim, loss=loss_func, metrics=[acc])

In [ ]:
train_history = model.fit(
    x ={'input_ids':x_train['input_ids'],'attention_mask':x_train['attention_mask']} ,
    y = y_train,
    validation_data = (
    {'input_ids':x_test['input_ids'],'attention_mask':x_test['attention_mask']}, y_val
    ),
  epochs=1,
    batch_size=32
)

 55/505 [==>...........................] - ETA: 5:25:36 - loss: 0.9754 - accuracy: 0.7375

In [19]:
#model.save('news_classification')

WARNING:absl:Found untraced functions such as _update_step_xla, embeddings_layer_call_fn, embeddings_layer_call_and_return_conditional_losses, encoder_layer_call_fn, encoder_layer_call_and_return_conditional_losses while saving (showing 5 of 421). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: news_classification\assets

INFO:tensorflow:Assets written to: news_classification\assets

In [47]:
#sentiment_model = tf.keras.models.load_model('sentiment_model')

tokenizer = BertTokenizer.from_pretrained('bert-base-cased')

def prepare_data(input_text, tokenizer):
    token = tokenizer(
    text=input_text,
    add_special_tokens=True,
    max_length=128,
    truncation=True,
    padding='max_length', 
    return_tensors='tf',
    return_token_type_ids = False,
    return_attention_mask = True,
    verbose = True)
    
    return {
        'input_ids': token.input_ids,
        'attention_mask': token.attention_mask
    }

def make_prediction(model, processed_data):
    probs = model.predict(processed_data)
    return probs

In [81]:
predictions=make_prediction(model,{'input_ids': x_test['input_ids'],
        'attention_mask': x_test['attention_mask']})

127/127 [==============================] - 1105s 9s/step

In [94]:
#model.save('News_Classification.h5')
# model.save(
#     "C:/Users/TACHLAND/Untitled Folder/nc",
#     overwrite=True,
#     include_optimizer=True,
#     save_format=None,
#     signatures=None,
#     options=None,
#     save_traces=True,
# )
#model.save_weights('nc_weights/')

In [97]:
#y_predicted = np.argmax(predictions, axis = 1)
print(y_test,y_predicted)

[13 19 20 ... 18  4 20] [20 19 20 ... 20 20 20]

In [101]:
df_result=pd.DataFrame({"Actual":y_test,"Predicted":y_predicted})
df_result

      Actual  Predicted
0         13         20
1         19         19
2         20         20
3         16         16
4         20         20
...      ...        ...
4033      13         16
4034       8          8
4035      18         20
4036       4         20
4037      20         20

[4038 rows x 2 columns]

In [102]:
input_text = input('Enter news here: ')
processed_data = prepare_data(input_text, tokenizer)
result = make_prediction(model, processed_data)
print(result[0])

cls=np.argmax(result[0],axis=-1)
for x in d:
    if(d[x]==cls):
        print("Predicted Class is "+x)
        break

Enter news here: Latest Coke Studio Bangla song leaked before premiere
1/1 [==============================] - 1s 1s/step
[0.01970146 0.01043989 0.10129419 0.0129534  0.01902313 0.02975629
 0.15596475 0.00925603 0.02468767 0.01520991 0.02015223 0.00619036
 0.12924623 0.01769197 0.00770015 0.01386194 0.21669786 0.06589416
 0.02528338 0.03193806 0.06705695]
Predicted Class is STYLE & BEAUTY